@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: oi-regular;
  src: url('/fonts/oi-regular.woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: oi-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(209 213 219);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

